.main{
    border: 10px solid black;
    height: 300px;
    width: 600px;
}
.a{
    height:100px;
    width: 600px;
    background-color: #d90012
}
.b{
    height:100px;
    width: 600px;
    background-color: #0033a0
}
.c{
    height:100px;
    width: 600px;
    background-color: #f2a800
}